/*------------------------------------*\
    #DOCUMENT-TREE
\*------------------------------------*/

/*-----------------*\
    Reset default SortableTree styles
\*-----------------*/
.ReactVirtualized__Grid__innerScrollContainer{
    max-height: 100% !important;
    height: 100% !important;
    overflow: auto !important;
}
.rstcustom__node{
    height: 40px !important;
}
.rstcustom__rowWrapper{
    cursor: default;
    padding: 5px;  

    display: flex;

    &:hover{
        opacity: 1;
    }
}
.rstcustom__row.edit-node{
    z-index: 101;

    .rstcustom__rowContents{
        background-color: #dadada;
    }
}
.rstcustom__rowContents{
    padding: 0 8px;  
    border-radius: 5px;
    &:hover{
        background-color: #f5f5f5;
        
    }
}
.rstcustom__collapseButton,.rstcustom__expandButton{
    display: none;
}
.rstcustom__rowLabel{
    padding-right: 10px;

    input{
        font-family: 'Roboto';
        font-size: 15px;
    }
}

/*-----------------*\
    Parent Containers
\*-----------------*/
.doc-tree-wrapper{
    position: fixed;
    z-index: 100;

    width: 0;
    top: 0;
    left: 0;
    bottom: 0;

    margin-top: 40px;

    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-content: center; 

    font-family: 'Roboto';

    opacity: 0;
    pointer-events: none;
    transition: width .5s ease-in-out;

    &.--not-empty{
        opacity: 1;
        pointer-events: all;
    }
    
    &.--opened{
        width: 450px;

        & > .doc-tree-body{
            transition: opacity .2s ease-in-out;
            transition-delay: .5s;
            opacity: 1;
            pointer-events: all;
        }

        & > .button_open-tree svg{
            transform: rotate(180deg);
        }
    }

    /*-----------------*\
        '>>' - button, which opens/closes Tree
    \*-----------------*/
    .button_open-tree{
        position: absolute;
        z-index: 97;
        cursor: pointer;
        width: 80px;
        height: 40px;
    
        bottom: 64px;
        right: -35px;
    
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-right: 10px;
    
        border: none;
        border-radius: 10px;
        background-color: white;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);

        transition: .2s right ease-in-out;

        &:hover{
            right: -45px;
        }

        & > svg {
            transition: .2s transform ease-in-out;
        }
    }
}

.doc-tree__bckg-filler{
    z-index: 98;
    position: absolute;
    width: 100%;
    height: 100%;
    
    background-color: white;
    border-right: 1px solid #d0d0d0;
}

/*-----------------*\
    Main body
\*-----------------*/
.doc-tree-body{
    z-index: 99;

    height: 100%;

    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-content: center; 

    background-color: $white;

    opacity: 0;
    pointer-events: none;
}

.doc-tree__title{
    padding-top: 20px;
    padding-left: 30px;

    font-size: 20px;
    
    h3{
        position: relative;
        width: fit-content;

        &::after{
            content: '';
            position: absolute;
            width: 100%;
            height: 1px;
   
            left: 0;
            bottom: -5px;
    
            background-color: $blue;
        }
    }
}

.doc-tree__sortable_tree{
    display: flex;
    flex-flow: column nowrap;
    flex-basis: 100%;    
}
.sortable_tree__container{
    overflow: auto;  
}

/*-----------------*\
    Tool buttons for Tree items
\*-----------------*/
.doc-tree__tools {
    cursor: pointer;
    width: 25px;
    height: 20px;

    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;

    border-radius: 3px;

    &:hover{
        background-color: #e6e6e6;
    }


    &.--folder svg{
        transition: transform .2s ease-in-out;
    }  
    &.--folder {
        &.--opened > svg{
            transform: rotate(180deg);
        }
    }
    
    &.--menu{
        position: relative;
        opacity: 0;
        pointer-events: none;

        &.--opened{
            opacity: 1;
            pointer-events: all;

            .context-menu{
                height: auto;
                opacity: 1;
                pointer-events: all;
            }
        }

        .context-menu{
            z-index: 101;
            position: absolute;
            top: 0;
            left: 0;

            border-radius: 3px;
            background-color: #e6e6e6;
            box-shadow: 0px 0px 5px #82828236;

            height: 0;
            opacity: 0;
            pointer-events: none;

            ul{
                list-style: none;                
                li{
                    padding: 5px 10px;
                    font-size: 14px;
                    
                    transition: background-color .1s ease-in;
                    &:hover{
                        background-color: #bfbfbf;
                    }
                }
            }
        }
    }
}
.rstcustom__rowWrapper:hover .--menu{
    opacity: 1;
    pointer-events: all;
}

/*-----------------*\
    Add files/folders buttons
\*-----------------*/
.doc-tree__buttons-wrapper{
    position: relative;
    height: 100px;

    display: flex;
    flex-flow: column nowrap;  
    justify-content: center;
    align-items: center;

    .top-border{
        position: absolute;
        top: 0;
        height: 1px;
        width: 100%;

        background-color: rgba(0, 0, 0, 0.2);
    }
}

.doc-tree__buttons-container{
    display: flex;
    flex-flow: row nowrap;
    & > button {
        cursor: pointer;
        padding: 10px 25px;

        display: flex;
        flex-flow: row nowrap;
        align-items: center;

        border-radius: 8px 0 0 8px;
        border: none;
        background-color: $btn-white;

        font-family: 'Roboto-Regular';
        font-size: 16px;

        &:nth-child(3) {
            border-radius: 0 8px 8px 0;
        }

        transition-property: color, background-color;
        transition-duration: .1s;
        transition-timing-function: ease-in;

        &:hover{
            background-color: $blue;
            color: #ffffff;
        }
    }
    
    .logo{
        width: 25px;
        height: 30px;

        margin-right: 10px;

        background-repeat: no-repeat;
        background-position: center;

        &.--folder{
            background-image: url('#{$icons-path}doc-tree/icon-create-folder.svg');
        }
        &.--note{
            background-image: url('#{$icons-path}doc-tree/icon-create-note.svg');
        }
    }

    .buttons-separator{
        width: 1px;
        height: 100%;
        background-color: #000000;
    }
}