/*------------------------------------*\
    #DOCUMENT-TREE
\*------------------------------------*/

.dnd-doc-tree{
    position: absolute;
    z-index: 100;

    width: 0;
    top: 0;
    left: 0;
    bottom: 0;

    margin-top: 40px;

    display: flex;
    flex: 0 1 auto;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-content: center;

    background-color: $white;
    border-right: 1px solid #d0d0d0;

    transition: .3s width ease-out;
    opacity: 0;
    pointer-events: none;
    &.--opened{
        width: 450px;

        opacity: 1;
        pointer-events: all;
    }

    h3{

    }
}

.dnd-doc-tree__sortable_tree{
    display: flex;
    flex-flow: column nowrap;
    flex-basis: 100%;
}

.sortable_tree__container{
    overflow: scroll;
}

.dnd-doc-tree__buttons-container{
    width: 350px;
    height: 150px;

    margin: 0 auto;
    padding-top: 40px;

    display: flex;
    flex-flow: column nowrap;  
}