/*------------------------------------*\
    #HOME--COMPONENT
\*------------------------------------*/

.home-container{
    height: 100%;

    padding: 140px 100px;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: flex-start;
}

@import './home-menu.scss';
@import './home-mapsList.scss';