// Globals ============================
body {
    font-family: 'Roboto-Regular';
    margin: 0;
    -webkit-font-smoothing: antialiased;

    background-color: $dark-white;
}

input {
  font-family: 'Roboto-Regular';
}

.page-wrapper{
  width: 100%;
  height: 100%;

  font-family: 'Roboto-Light';
}

// Defaults ============================